@import "config.module";

.productCategory__cardWrapper {
  text-align: center;
  line-height: 40px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  .productCategory__card {
    width: 300px;
    height: 400px;
    max-width:100%;
    background-color: $primary-color;
    overflow: hidden;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    @include box-shadow(5px 1px 15px 0px rgb(46 42 57 / 10%));
    @include rounded(10px);
    //@include medium{
    //  width: 200px;
    //}
    //@include large{
    //  width: 300px;
    //}

    .card__img {
      //width: 300px;
      height: 300px;
      transition: 0.2s all ease-out;
      overflow: hidden;
      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transition: transform .5s ease;
      }
      &:hover img{
        transform: scale(1.1);
      }
    }
    .card__info{
        margin:1.5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
      color:$secondary-color;

    }
  }
}