@import "config.module";

.title{
  color:$secondary-color;
}
.cardWrapper{
  text-align: center;
  line-height: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  .card{
    width:230px;
    &.products{
        @include extra-small{
          width: 200px;
        }
    }
    max-width:100%;
    height:340px;
    position: relative;
    background-color: $primary-color;
    overflow: hidden;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    @include box-shadow(5px 1px 15px 0px rgb(46 42 57 / 10%));
    @include rounded(10px);
    .card__img{
      width:230px;
      height: 230px;
      transition: 0.2s all ease-out;
      img{
        width:100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
      }
    .card__info{
      padding: .5rem;
      p:first-child{
        font-weight: 700;
        //font-size: 6vh;
      }
    }
    .card__img--hover{
      position: absolute;
      right: 0;
      left: 0;
      object-fit: contain;
      opacity: 0;
      transition: opacity .2s;
    }
   &:hover{
     .card__img--main {
       opacity: 0;
       transition: 0.2s all ease-out;
     }
     .card__img--hover{
       transform:scale(1 , 1);
       opacity:1;
       transition: 0.2s all ease-out;
     }
   }
  }
    .productCategory__card{
      width:300px;
      height:400px;
      .card__img{
        width:300px;
        height: 300px;
        img{
          &:hover{
            transform:scale(1 , 1);
          }
        }
      }
    }
}
.productCategory__cardWrapper {
  justify-content: space-between;
}
